<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="description" content="Example gfsh session">
		<meta name="author" content="Eitan Suez">

		<title>Illustrating use of gfsh - The Gemfire command shell</title>

		<link rel="stylesheet" href="dist/reset.css">
		<link rel="stylesheet" href="dist/reveal.css">
		<link rel="stylesheet" href="dist/theme/solarized.css">

		<link rel="stylesheet" href="plugin/highlight/zenburn.css">

    <style>
    .shell-output {
      font-size: 70% !important;
    }
    </style>
	</head>

	<body>

		<div class="reveal">

			<div class="slides">
        <% slides.each { %>
        <section>
          <pre class="fragment"><code>
<%=it.cmd%>
          </code></pre>
          <pre class="fragment"><code class="shell-output">
<%=it.output%>
          </code></pre>
        </section>
        <% } %>
			</div>

		</div>

		<script src="dist/reveal.js"></script>
		<script src="plugin/notes/notes.js"></script>
		<script src="plugin/markdown/markdown.js"></script>
		<script src="plugin/highlight/highlight.js"></script>
		<script src="plugin/zoom/zoom.js"></script>

		<script>
			// More info about initialization & config:
			// - https://revealjs.com/initialization/
			// - https://revealjs.com/config/
			Reveal.initialize({
				hash: true,

				// Learn about plugins: https://revealjs.com/plugins/
				plugins: [ RevealMarkdown, RevealHighlight, RevealNotes, RevealZoom ]
			});

		</script>

	</body>
</html>
